* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  border: 1px solid #fff;
  background-color: white;
  height: 50px;
  flex: 1;
  text-align: center;
}
